<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.amphiprion.myaccounts"
      android:versionCode="9"
      android:versionName="1.1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="org.amphiprion.myaccount.Home" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.amphiprion.myaccount.AccountList"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="org.amphiprion.myaccount.CategoryList"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="org.amphiprion.myaccount.ReportList"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="org.amphiprion.myaccount.EditAccount" 
                  android:label="@string/edit_account_title">
        </activity>
        <activity android:name="org.amphiprion.myaccount.OperationList" 
                  android:label="@string/operations_title">
        </activity> 
        <activity android:name="org.amphiprion.myaccount.EditCategory" 
                  android:label="@string/edit_category_title">
        </activity>
        <activity android:name="org.amphiprion.myaccount.DefineImportParameter" 
                  android:label="@string/file_import_title">
        </activity>
        <activity android:name="org.amphiprion.myaccount.EditOperation" 
                  android:label="@string/edit_operation_title">
        </activity>
        <activity android:name="org.amphiprion.myaccount.EditReport" 
                  android:label="@string/edit_report_title">
        </activity>
        <activity android:name="org.amphiprion.myaccount.Chart"  android:screenOrientation="landscape"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="org.amphiprion.myaccount.InstantChart"  android:screenOrientation="landscape"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="org.amphiprion.myaccount.BudgetList" android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name"></activity>
        <activity android:name="org.amphiprion.myaccount.EditBudget" android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name"></activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest> 